---
import portrait from "../../assets/images/portrait.png";
---
<section id="about">
  <div class="container">
    <div class="row text-center">
      <h2 class="bold">About Me</h2>
    </div>
    <div class="row">
      <div class="col-md-5 animate-box">
        <img class="img-responsive about-img" src={portrait.src} alt="Brian Balili" />
      </div>
      <div class="col-md-6 col-md-push-1 animate-box">
        <div class="about-desc">
          <div class="about-title">
            <div class="item">
              <h2><span>Brian Balili</span></h2>
            </div>
            <div class="item">
              <h2><span>Computer Engineer</span></h2>
            </div>
          </div>
          <div class="desc">
            <div class="rotate">
              <h2 class="heading">About</h2>
            </div>
            <p>
              Recent Computer Engineering graduate with experience building software solutions,
              integrating hardware systems, and supporting end users in fast-paced
              environments. I have worked on full-stack web applications using Python,
              Vue.js, and PostgreSQL, and led an IoT and computer vision thesis project.
              I am comfortable moving between application development, databases,
              troubleshooting, and system integration, and I am known for learning new
              tools quickly and explaining technical ideas clearly.
            </p>

            <p class="social-icons">
              <a href="https://linkedin.com/in/brian-balili" target="_blank" rel="noreferrer">
                <i class="icon-linkedin"></i>
              </a>
              <a href="https://github.com/eautify" target="_blank" rel="noreferrer">
                <i class="icon-github"></i>
              </a>
            </p>

            <div class="about-buttons">
              <p>
                <a href="/assets/Resume.pdf" target="_blank" rel="noreferrer" class="btn btn-primary btn-outline">
                  Download Resume
                </a>
              </p>
              <p><a href="#footer" class="btn btn-primary btn-outline">Contact Me!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #about {
    padding: 10em 0;
    clear: both;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    #about {
      padding: 5em 0;
    }
  }

  .about-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }

  .about-desc {
    padding-top: 3em;
  }

  .about-desc h2 {
    line-height: 1.3;
  }

  .about-desc h2 span {
    display: block;
    margin-bottom: 0;
    color: #000;
    font-size: 50px;
    font-family: "Playfair Display", Georgia, serif;
  }

  .about-desc .desc {
    padding-left: 6em;
    position: relative;
  }

  .about-desc .rotate {
    position: absolute;
    top: 7px;
    left: 30px;
  }

  .about-title {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
  }

  .about-title .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    animation: titleAnimation 10s infinite;
  }

  .about-title .item:nth-child(2) {
    animation-delay: 5s;
  }

  .about-title .item h2 {
    margin: 0;
  }

  .about-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
  }

  .about-buttons p {
    margin: 0;
  }

  @keyframes titleAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    40% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0;
    }
  }
</style>
