<section id="colorlib-education">
  <div class="container">
    <div class="row text-center">
      <h2 class="bold">Education</h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
        <span>My Background</span>
        <h2>Education & Accomplishments</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="education-timeline">
          <li class="animate-box">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <h3>Bachelor of Science in Computer Engineering <span>(2021 - 2026)</span></h3>
              <h4>Rizal Technological University</h4>
              <ul>
                <li>Dean's Lister & Academic Achiever</li>
                <li>CPE Councilor, PCEA Student Council</li>
                <li>Member, Alliance of Computer Engineering Students</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
