---
const year = new Date().getFullYear();
---
<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 footer-widget">
          <h3 class="footer-title">About This Page</h3>
          <p>A personal portfolio showcasing my work in software development, embedded systems, and technical problem-solving.</p>
          <p class="footer-social-icons">
            <a href="https://linkedin.com/in/brian-balili" target="_blank" rel="noreferrer"><i class="icon-linkedin"></i></a>
            <a href="https://github.com/eautify" target="_blank" rel="noreferrer"><i class="icon-github"></i></a>
          </p>
        </div>

        <div class="col-md-4 col-sm-6 footer-widget">
          <h3 class="footer-title">Quick Links</h3>
          <ul class="footer-links">
            <li><a href="#colorlib-about">About</a></li>
            <li><a href="#colorlib-services">Skills</a></li>
            <li><a href="#colorlib-work">Projects</a></li>
            <li><a href="#colorlib-experience">Experience</a></li>
            <li><a href="#colorlib-education">Education</a></li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-6 footer-widget">
          <h3 class="footer-title">Contact Info</h3>
          <ul class="footer-contact-info">
            <li><i class="icon-mail5"></i> <a href="mailto:brian.balili3@gmail.com">brian.balili3@gmail.com</a></li>
            <li><i class="icon-phone4"></i> <span>+63 (938) 976-3824</span></li>
            <li><i class="icon-map5"></i> <span>Pinagbuhatan, Pasig City</span></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <p class="copyright-text">
            &copy; Copyright &copy;{year} All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
