---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import PageNav from "../components/PageNav.astro";
import About from "../components/sections/About.astro";
import Skills from "../components/sections/Skills.astro";
import Projects from "../components/sections/Projects.astro";
import Experience from "../components/sections/Experience.astro";
import Education from "../components/sections/Education.astro";
import Footer from "../components/sections/Footer.astro";
---
<BaseLayout>
  <div id="page">
    <SiteHeader />
    <About />
    <Skills />
    <Projects />
    <Experience />
    <Education />
    <Footer />
  </div>

  <PageNav />
</BaseLayout>
