<nav id="page-nav">
  <ul>
    <li><a href="#colorlib-about" data-nav-section="about"><span>About Me</span></a></li>
    <li><a href="#colorlib-services" data-nav-section="skills"><span>Skills</span></a></li>
    <li><a href="#colorlib-work" data-nav-section="projects"><span>Projects</span></a></li>
    <li><a href="#colorlib-experience" data-nav-section="experience"><span>Experience</span></a></li>
    <li><a href="#colorlib-education" data-nav-section="education"><span>Education</span></a></li>
    <li><a href="#footer" data-nav-section="contact"><span>Contact</span></a></li>
  </ul>
</nav>
